@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}
body {
    overflow:Scroll;
    overflow-x:hidden;
    font-family:  Microsoft Yahei;
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}
textarea {
    resize: none;
}

/*防止拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}


s, i, em {
    font-style: normal;
    text-decoration: none;
}

.container {
    width: 1160px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

#header{
    height: 100px;
    margin-right: auto;
    margin-left: auto;

}
#header   .container{
    position: relative;
}
#header  .logo{
    position: absolute;
    z-index: 1000;
}
#header   .container  .nav-tabs {
    height: 60px;
    float: left;
    margin-left: 200px;
    margin-top: 40px;

}
#header   .container  .nav-tabs a{
    background-color: #ffffff;
    display:block;
    float: left;
    height: 60px;
    width: 100px;
    line-height: 60px;
    font-size: 16px;
    color: #333;
    text-align: center;
    cursor: pointer;
}
#header   .container  .nav-tabs span{
    background-color: #ffffff;
    display:block;
    float: left;
    height: 60px;
    width: 100px;
    margin-bottom: 0;
    line-height: 60px;
    font-size: 16px;
    color: #333;
    text-align: center;
    cursor: pointer;
}
#header   .container  .nav-tabs form{
    float: left;
    height: 20px;
    width: 166px;
    font-size: 14px;
    color: #333;
}
#header   .container  .nav-tabs form .search{
    margin-left: 10px;
    margin-top: 20px;
    height: 26px;
    width: 120px;
    border-radius: 13px;
    border: 1px solid #b1b1b1;
    font-size: 12px;
    color: #333;
    padding-left: 10px;
}
#header   .container  .nav-tabs form .search-btn{
    margin-top: 16px;
    height: 20px;
    width: 30px;
    background-color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Microsoft Yahei";
    font-size: 14px;
}
#header   .container .langs{
    float: left;
    height: 60px;
    width: 80px;
    margin-bottom: 0;
    margin-left: 10px;
    line-height: 60px;
    font-size: 14px;
    color: #333;
    text-align: center;
    cursor: pointer;
}
#header   .container .nav-tabs .bom{
    /*background: rgb(255,255,255);*/
    background-color: #eafaff;
}

#header  .container  .tab-content div{
    padding-top: 10px;
    position: absolute;
    top: 100px;
    width: 1026px;
    height: 160px;
    background-color: #eafaff;
    /*background: rgb(255,255,255);*/
    z-index: 1111;
    margin-left: 200px;
    display: none;

}
#header  .container  .tab-content div img{
    height: 130px;
    width: 200px;
    float: right;
    margin-right: 100px;
    margin-top: 10px;
}
#header   .container  .tab-content .dis-black{
    display: block;
}
#header   .container  .tab-content div ul {
    padding-left: 100px;
    float: left;
}
#header   .container .tab-content div ul li {
    list-style: none;
    font-size: 16px;
    color:  #000000;
    margin-top: 10px;
}


/* 结尾部分 */
.jieshu{
    height: 200px;
    padding-top: 26px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 124px;
    border-top: 1px solid #e1e1e1;
}
.jieshu .container .logo{
    height: 170px;
    width: 129px;
    float: left;
    margin-left: 56px;
}
.jieshu .container .footer_tel{
    float: left;
    margin-top: 32px;
}
.jieshu .container .footer_tel ul{
    float: left;
    margin-left: 100px;
}
.jieshu .container .footer_tel ul h4{
    font-size: 16px;
    font-family:  Microsoft Yahei;
}
.jieshu .container .footer_tel ul li{
    height: 28px;
    line-height: 28px;
    font-size: 14px;
}
.jieshu .container .weixin{
    float: right;
    margin-right: 78px;

}


.jieshu .container .row .col-lg-4 {

    margin-bottom: 30px;
    margin-top: 30px;
}
.jieshu .container .row li{
    list-style: none;
    margin-top: 10px;

}


