<!DOCTYPE html>
<head lang="en">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title> 吉首市旅游官网  完成</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" href="../../css/meishi.css"/>
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.min.js"></script>
    <script src="lib/respond/respond.min.js"></script>
    <![endif]-->
    <title></title>
</head>
<body>

<header id="header">
    <nav class="container" id="nav">
        <div class="logo"><a href="../../index.html"><img src="../../imgs/shouye/logotop.png" alt=""/></a></div>
        <div class="nav-tabs">
            <a href="../../index.html">首页</a>
            <span>走进吉首</span>
            <span>畅玩吉首</span>
            <span>旅游服务</span>
            <span>吉首攻略</span>
            <span>在线旅游</span>
            <form  action="/example/html5/demo_form.asp" method="get">
                <input class="search" type="search" name="user_search" placeholder="请输入..." />
                <input class="search-btn" type="submit" value="搜索"/>
            </form>
            <div class="langs"><i>中</i>/<i>En</i></div>
        </div>

        <div class="tab-content" id="boox">
            <!--走进吉首-->
            <div >
                <ul>
                    <li><a href="../tabone/gaikuang.html">吉首概括</a></li>
                    <li><a href="../tabone/fuhao.html">   吉首符号</a></li>
                    <li><a href="../tabone/fengtu.html">  风土人情</a></li>
                    <li><a href="../tabone/guwu.html">    苗族鼓舞</a></li>
                </ul>
                <ul>
                    <li> <a href="../tabone/jieqing.html">节庆活动</a></li>
                    <li> <a href="../tabone/meili.html">  美丽吉首</a></li>
                </ul>
                <img src="../../imgs/shouye/j1.png" alt=""/>
            </div>

            <!--畅玩吉首-->
            <div >
                <ul>
                    <li><a href="jingqu0.html">景区</a></li>
                    <li><a href="meishi.html">美食</a></li>
                    <li><a href="zhushu.html">住宿</a></li>
                    <li><a href="yule.html">  娱乐</a></li>
                </ul>
                <ul>
                    <li><a href="techan.html">特产</a></li>
                </ul>
                <img src="../../imgs/shouye/j2.png" alt=""/>
            </div>

            <!--吉首攻略-->
            <div >
                <ul>
                    <li><a href="../tabthree/tuijian.html">精品推荐</a></li>
                    <li> <a href="#@">交通导航</a></li>
                    <li> <a href="../tabthree/youji.html">吉首游记</a></li>
                    <li> <a href="../tabthree/zhixun.html">吉首资讯</a></li>
                </ul>
                <img src="../../imgs/shouye/j3.png" alt=""/>
            </div>
            <!--吉首服务-->
            <div >
                <ul>
                    <li><a href="#"> 咨询电话  </a></li>
                    <li><a href="#"> 投诉电话  </a></li>
                    <li><a href="#"> 火车票    </a></li>
                    <li><a href="#"> 飞机票    </a></li>
                </ul>
                <ul>
                    <li><a href="#">天气   </a> </li>
                    <li><a href="../tabfour/toushu.html">在线投诉</a></li>
                </ul>
                <img src="../../imgs/shouye/j4.png" alt=""/>
            </div>
            <!--在线旅游-->
            <div >
                <ul>
                    <li>  <a href="#">VR</a></li>
                </ul>
                <img src="../../imgs/shouye/j5.png" alt=""/>
            </div>
        </div>
    </nav>
</header>
<!--  /头部区域 -->

<!--banner图片-->
<section class="banner">
    <img src="../../imgs/jingqu/jingqubanner.png" alt=""/>
</section>



<!--吉首概况-->
<section class="meishi container clearfix">

    <div class="logo">
        <img src="../../imgs/jingqu/jingqu0.png" alt=""/>
    </div>

    <span class="biude">娱乐</span>

    <!--酒店介绍-->
    <div class="boo clearfix">
        <div class="jiudian clearfix">

            <a href=""> <img src="../../imgs/jingqu/jingqu1.png" alt=""/></a>
            <div class="modo">
                <span>98个好评</span>
                <h4>酒店景区</h4>
                <p>帝王酒店，美景三月天</p>
            </div>
        </div>

        <!--复制酒店-->
        <div class="jiudian clearfix">
            <a href=""> <img src="../../imgs/jingqu/jingqu2.png" alt=""/></a>
            <div class="modo">
                <span>98个好评</span>
                <h4>酒店景区</h4>
                <p>帝王酒店，美景三月天</p>
            </div>
        </div>
        <div class="jiudian clearfix">
            <a href=""> <img src="../../imgs/jingqu/jingqu3.png" alt=""/></a>
            <div class="modo">
                <span>98个好评</span>
                <h4>酒店景区</h4>
                <p>帝王酒店，美景三月天</p>
            </div>
        </div>
        <div class="jiudian clearfix">
            <a href=""> <img src="../../imgs/jingqu/jingqu4.png" alt=""/></a>
            <div class="modo">
                <span>98个好评</span>
                <h4>酒店景区</h4>
                <p>帝王酒店，美景三月天</p>
            </div>
        </div>
        <div class="jiudian clearfix">
            <a href=""> <img src="../../imgs/jingqu/jingqu5.png" alt=""/></a>
            <div class="modo">
                <span>98个好评</span>
                <h4>酒店景区</h4>
                <p>帝王酒店，美景三月天</p>
            </div>
        </div>
        <div class="jiudian clearfix">
            <a href=""> <img src="../../imgs/jingqu/jingqu6.png" alt=""/></a>
            <div class="modo">
                <span>98个好评</span>
                <h4>酒店景区</h4>
                <p>帝王酒店，美景三月天</p>
            </div>
        </div>
        <div class="jiudian clearfix">
            <a href=""> <img src="../../imgs/jingqu/jingqu7.png" alt=""/></a>
            <div class="modo">
                <span>98个好评</span>
                <h4>酒店景区</h4>
                <p>帝王酒店，美景三月天</p>
            </div>
        </div>
        <div class="jiudian clearfix">
            <a href=""> <img src="../../imgs/jingqu/jingqu8.png" alt=""/></a>
            <div class="modo">
                <span>98个好评</span>
                <h4>酒店景区</h4>
                <p>帝王酒店，美景三月天</p>
            </div>
        </div>
        <div class="jiudian clearfix">
            <a href=""> <img src="../../imgs/jingqu/jingqu9.png" alt=""/></a>
            <div class="modo">
                <span>98个好评</span>
                <h4>酒店景区</h4>
                <p>帝王酒店，美景三月天</p>
            </div>
        </div>
        <div class="jiudian clearfix">
            <a href=""> <img src="../../imgs/jingqu/jingqu10.png" alt=""/></a>
            <div class="modo">
                <span>98个好评</span>
                <h4>酒店景区</h4>
                <p>帝王酒店，美景三月天</p>
            </div>
        </div>
        <div class="jiudian clearfix">
            <a href=""> <img src="../../imgs/jingqu/jingqu11.png" alt=""/></a>
            <div class="modo">
                <span>98个好评</span>
                <h4>酒店景区</h4>
                <p>帝王酒店，美景三月天</p>
            </div>
        </div>
        <div class="jiudian clearfix">
            <a href=""> <img src="../../imgs/jingqu/jingqu12.png" alt=""/></a>
            <div class="modo">
                <span>98个好评</span>
                <h4>酒店景区</h4>
                <p>帝王酒店，美景三月天</p>
            </div>
        </div>
    </div>



    <div class="jiamo">
        <a href=""> 加载更多</a>
    </div>

    <!--风土人情-->
</section>
<!--加载更多-->



<!-- 结尾 -->
<footer class="jieshu  clearfix">
    <div class="container">
        <div class="logo"><a href="../../index.html"><img src="../../imgs/shouye/logotop.png" alt=""></a></div>
        <div class="footer_tel">
            <ul class="tel">
                <h4>联系我们</h4>
                <li>邮箱：88888888@163.com</li>
                <li>咨询电话：888888888</li>
                <li>版权所有</li>
            </ul>
            <ul class="qq">
                <li>QQ：88888888</li>
                <li><a href="www.jishou.com">网址：www.jishou.com</a></li>
                <li>吉首旅游局</li>
            </ul>
        </div>
        <div class="weixin"><a href="#"><img src="../../imgs/shouye/weixin.png" alt=""></a></div>
    </div>
</footer>

</body>
<script src="../../js/main.js"></script>
</html>