<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title> 吉首市旅游官网 </title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" href="../../css/fengtu.css"/>
    <!--[if lt IE 9]>
    <script src="../../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../../lib/respond/respond.min.js"></script>
    <![endif]-->
    <title></title>
</head>
<body>
<header id="header">
    <nav class="container" id="nav">
        <div class="logo"><a href="../../index.html"><img src="../../imgs/shouye/logotop.png" alt=""/></a></div>
        <div class="nav-tabs">
            <a href="../../index.html">首页</a>
            <span>走进吉首</span>
            <span>畅玩吉首</span>
            <span>旅游服务</span>
            <span>吉首攻略</span>
            <span>在线旅游</span>
            <form  action="/example/html5/demo_form.asp" method="get">
                <input class="search" type="search" name="user_search" placeholder="请输入..." />
                <input class="search-btn" type="submit" value="搜索"/>
            </form>
            <div class="langs"><i>中</i>/<i>En</i></div>
        </div>

        <div class="tab-content" id="boox">
            <!--走进吉首-->
            <div >
                <ul>
                    <li><a href="gaikuang.html">吉首概括</a></li>
                    <li><a href="fuhao.html">   吉首符号</a></li>
                    <li><a href="fengtu.html">  风土人情</a></li>
                    <li><a href="guwu.html">    苗族鼓舞</a></li>
                </ul>
                <ul>
                    <li> <a href="jieqing.html">节庆活动</a></li>
                    <li> <a href="meili.html">  美丽吉首</a></li>
                </ul>
                <img src="../../imgs/shouye/j1.png" alt=""/>
            </div>

            <!--畅玩吉首-->
            <div >
                <ul>
                    <li><a href="../tabtwo/jingqu0.html">景区</a></li>
                    <li><a href="../tabtwo/meishi.html">美食</a></li>
                    <li><a href="../tabtwo/zhushu.html">住宿</a></li>
                    <li><a href="../tabtwo/yule.html">  娱乐</a></li>
                </ul>
                <ul>
                    <li><a href="../tabtwo/techan.html">特产</a></li>
                </ul>
                <img src="../../imgs/shouye/j2.png" alt=""/>
            </div>

            <!--吉首攻略-->
            <div >
                <ul>
                    <li><a href="../tabthree/tuijian.html">精品推荐</a></li>
                    <li> <a href="#@">交通导航</a></li>
                    <li> <a href="../tabthree/youji.html">吉首游记</a></li>
                    <li> <a href="../tabthree/zhixun.html">吉首资讯</a></li>
                </ul>
                <img src="../../imgs/shouye/j3.png" alt=""/>
            </div>
            <!--吉首服务-->
            <div >
                <ul>
                    <li><a href="#"> 咨询电话  </a></li>
                    <li><a href="#"> 投诉电话  </a></li>
                    <li><a href="#"> 火车票    </a></li>
                    <li><a href="#"> 飞机票    </a></li>
                </ul>
                <ul>
                    <li><a href="#">天气   </a> </li>
                    <li><a href="../tabfour/toushu.html">在线投诉</a></li>
                </ul>
                <img src="../../imgs/shouye/j4.png" alt=""/>
            </div>
            <!--在线旅游-->
            <div >
                <ul>
                    <li>  <a href="#">VR</a></li>
                </ul>
                <img src="../../imgs/shouye/j5.png" alt=""/>
            </div>
        </div>
    </nav>

</header>
<!--  /头部区域 -->
<!--banner图片-->
<section class="banner">
    <img src="../../imgs/fuhao/gaikuang banner.png" alt=""/>
</section>

<!--吉首概况-->
<section class="fengtu container">
    <div class="logo"><img src="../../imgs/fuhao/fuhao0.png" alt=""/></div>


    <!--风土人情-->

       <div class="fengqing clearfix">
        <span class="biude">吉首市徽</span>
        <div class="content">
            <img src="../../imgs/fuhao/fuhao1.png" alt=""/>
            <div class="wenzhi">
                <p>吉首市位于湖南省西部、湘西土家族苗族自治州南部、319、209国道与枝柳铁路交汇处。市境东南部与泸溪县、西北部与花垣县、西南部与凤凰县、北部与保靖县、古丈县毗邻。地理坐标：北纬28°08′～28°29′、东经109°30′～110°04′。东西跨度55.9千米，南北跨度37.3千米。以吉首城区为起点，铁路旅程：东至长沙602千米，南至怀化103千米、至广州1317千米、至湛江1420千米，北至张家界152千米、至北京1748千米；公路旅程：东至常德310千米、至长沙460千米，西至湖北来凤263千米、至贵州松桃113千米、至重庆秀山137千米、至重庆863千米，至重庆黔江345千米，南至麻阳88千米、至怀化147千米、至贵州铜仁116千米，北至张家界152千米。吉首系湘西土家族苗族自治州州府和市政府驻地、湘鄂黔渝四省市边区重镇、最大的贸易市场和物资集散中心。</p>
            </div>
        </div>
    </div>

    <!--地理气候-->
    <div class="qihou">
        <span class="biude">吉祥物</span>
        <p>吉首市位于湖南省西部、湘西土家族苗族自治州南部、319、209国道与枝柳铁路交汇处。市境东南部与泸溪县、西北部与花垣县、西南部与凤凰县、北部与保靖县、古丈县毗邻。地理坐标：北纬28°08′～28°29′、东经109°30′～110°04′。东西跨度55.9千米，南北跨度37.3千米。以吉首城区为起点，铁路旅程：东至长沙602千米，南至怀化103千米、至广州1317千米、至湛江1420千米，北至张家界152千米、至北京1748千米；公路旅程：东至常德310千米、至长沙460千米，西至湖北来凤263千米、至贵州松桃113千米、至重庆秀山137千米、至重庆863千米，至重庆黔江345千米，南至麻阳88千米、至怀化147千米、至贵州铜仁116千米，北至张家界152千米。吉首系湘西土家族苗族自治州州府和市政府驻地、湘鄂黔渝四省市边区重镇、最大的贸易市场和物资集散中心。</p>
        <div class="content">
            <img src="../../imgs/fuhao/fuhao2.png" alt=""/>
            <img  class="mdl" src="../../imgs/fuhao/fuhao3.png" alt=""/>
            <img  class="mdl" src="../../imgs/fuhao/fuhao4.png" alt=""/>
            <img  class="mdl" src="../../imgs/fuhao/fuhao5.png" alt=""/>
        </div>
    </div>


    <!--视频播放-->

    <div class="shipin clearfix">
        <span class="biude">吉首文化</span>
        <div class="content">
            <div class="wenzhi">
                <p>吉首市位于湖南省西部、湘西土家族苗族自治州南部、319、209国道与枝柳铁路交汇处。市境东南部与泸溪县、西北部与花垣县、西南部与凤凰县、北部与保靖县、古丈县毗邻。地理坐标：北纬28°08′～28°29′、东经109°30′～110°04′。东西跨度55.9千米，南北跨度37.3千米。以吉首城区为起点，铁路旅程：东至长沙602千米，南至怀化103千米、至广州1317千米、至湛江1420千米，北至张家界152千米、至北京1748千米；公路旅程：东至常德310千米、至长沙460千米，西至湖北来凤263千米、至贵州松桃113千米、至重庆秀山137千米、至重庆863千米，至重庆黔江345千米，南至麻阳88千米、至怀化147千米、至贵州铜仁116千米，北至张家界152千米。吉首系湘西土家族苗族自治州州府和市政府驻地、湘鄂黔渝四省市边区重镇、最大的贸易市场和物资集散中心。</p>
            </div>
        </div>
        <div class="vid">
            <!--视频模式-->
           <!-- <video src="#"></video>-->
            <img src="../../imgs/fuhao/fuhao6.png" alt=""/>

        </div>

    </div>



    <!--复制上面内容，循环一次-->
    <div class="fengqing clearfix">
        <span class="biude">吉首市花</span>
        <div class="content">
            <img src="../../imgs/fuhao/fuhao12.png" alt=""/>
            <div class="wenzhi">
                <p>吉首市位于湖南省西部、湘西土家族苗族自治州南部、319、209国道与枝柳铁路交汇处。市境东南部与泸溪县、西北部与花垣县、西南部与凤凰县、北部与保靖县、古丈县毗邻。地理坐标：北纬28°08′～28°29′、东经109°30′～110°04′。东西跨度55.9千米，南北跨度37.3千米。以吉首城区为起点，铁路旅程：东至长沙602千米，南至怀化103千米、至广州1317千米、至湛江1420千米，北至张家界152千米、至北京1748千米；公路旅程：东至常德310千米、至长沙460千米，西至湖北来凤263千米、至贵州松桃113千米、至重庆秀山137千米、至重庆863千米，至重庆黔江345千米，南至麻阳88千米、至怀化147千米、至贵州铜仁116千米，北至张家界152千米。吉首系湘西土家族苗族自治州州府和市政府驻地、湘鄂黔渝四省市边区重镇、最大的贸易市场和物资集散中心。</p>
            </div>
        </div>
    </div>

    <!--地理气候-->
    <div class="qihou">
        <span class="biude">吉首市树</span>
        <p>吉首市位于湖南省西部、湘西土家族苗族自治州南部、319、209国道与枝柳铁路交汇处。市境东南部与泸溪县、西北部与花垣县、西南部与凤凰县、北部与保靖县、古丈县毗邻。地理坐标：北纬28°08′～28°29′、东经109°30′～110°04′。东西跨度55.9千米，南北跨度37.3千米。以吉首城区为起点，铁路旅程：东至长沙602千米，南至怀化103千米、至广州1317千米、至湛江1420千米，北至张家界152千米、至北京1748千米；公路旅程：东至常德310千米、至长沙460千米，西至湖北来凤263千米、至贵州松桃113千米、至重庆秀山137千米、至重庆863千米，至重庆黔江345千米，南至麻阳88千米、至怀化147千米、至贵州铜仁116千米，北至张家界152千米。吉首系湘西土家族苗族自治州州府和市政府驻地、湘鄂黔渝四省市边区重镇、最大的贸易市场和物资集散中心。</p>
        <div class="content">
            <img src="../../imgs/fuhao/fuhao7.png" alt=""/>
            <img  class="mdl" src="../../imgs/fuhao/fuhao8.png" alt=""/>
            <img  class="mdl" src="../../imgs/fuhao/fuhao9.png" alt=""/>
            <img  class="mdl" src="../../imgs/fuhao/fuhao11.png" alt=""/>
        </div>
    </div>



</section>



<!-- 结尾 -->
<footer class="jieshu  clearfix">
    <div class="container">
        <div class="logo"><a href="../../index.html"><img src="../../imgs/shouye/logotop.png" alt=""></a></div>
        <div class="footer_tel">
            <ul class="tel">
                <h4>联系我们</h4>
                <li>邮箱：88888888@163.com</li>
                <li>咨询电话：888888888</li>
                <li>版权所有</li>
            </ul>
            <ul class="qq">
                <li>QQ：88888888</li>
                <li><a href="www.jishou.com">网址：www.jishou.com</a></li>
                <li>吉首旅游局</li>
            </ul>
        </div>
        <div class="weixin"><a href="#"><img src="../../imgs/shouye/weixin.png" alt=""></a></div>
    </div>
</footer>

</body>

  <!--  轮播-->
<script src="../../js/main.js"></script>
</html>