<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title> 吉首市旅游官网 </title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" href="../../css/tuijian.css"/>
    <!--[if lt IE 9]>
    <script src="../../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../../lib/respond/respond.min.js"></script>
    <![endif]-->
    <title></title>
</head>
<body>

<header id="header">
    <nav class="container" id="nav">
        <div class="logo"><a href="../../index.html"><img src="../../imgs/shouye/logotop.png" alt=""/></a></div>
        <div class="nav-tabs">
            <a href="../../index.html">首页</a>
            <span>走进吉首</span>
            <span>畅玩吉首</span>
            <span>旅游服务</span>
            <span>吉首攻略</span>
            <span>在线旅游</span>
            <form  action="/example/html5/demo_form.asp" method="get">
                <input class="search" type="search" name="user_search" placeholder="请输入..." />
                <input class="search-btn" type="submit" value="搜索"/>
            </form>
            <div class="langs"><i>中</i>/<i>En</i></div>
        </div>

        <div class="tab-content" id="boox">
            <!--走进吉首-->
            <div >
                <ul>
                    <li><a href="../tabone/gaikuang.html">吉首概括</a></li>
                    <li><a href="../tabone/fuhao.html">   吉首符号</a></li>
                    <li><a href="../tabone/fengtu.html">  风土人情</a></li>
                    <li><a href="../tabone/guwu.html">    苗族鼓舞</a></li>
                </ul>
                <ul>
                    <li> <a href="../tabone/jieqing.html">节庆活动</a></li>
                    <li> <a href="../tabone/meili.html">  美丽吉首</a></li>
                </ul>
                <img src="../../imgs/shouye/j1.png" alt=""/>
            </div>

            <!--畅玩吉首-->
            <div >
                <ul>
                    <li><a href="../tabtwo/jingqu0.html">景区</a></li>
                    <li><a href="../tabtwo/meishi.html">美食</a></li>
                    <li><a href="../tabtwo/zhushu.html">住宿</a></li>
                    <li><a href="../tabtwo/yule.html">  娱乐</a></li>
                </ul>
                <ul>
                    <li><a href="../tabtwo/techan.html">特产</a></li>
                </ul>
                <img src="../../imgs/shouye/j2.png" alt=""/>
            </div>

            <!--吉首攻略-->
            <div >
                <ul>
                    <li><a href="tuijian.html">精品推荐</a></li>
                    <li> <a href="#@">交通导航</a></li>
                    <li> <a href="youji.html">吉首游记</a></li>
                    <li> <a href="zhixun.html">吉首资讯</a></li>
                </ul>
                <img src="../../imgs/shouye/j3.png" alt=""/>
            </div>
            <!--吉首服务-->
            <div >
                <ul>
                    <li><a href="#"> 咨询电话  </a></li>
                    <li><a href="#"> 投诉电话  </a></li>
                    <li><a href="#"> 火车票    </a></li>
                    <li><a href="#"> 飞机票    </a></li>
                </ul>
                <ul>
                    <li><a href="#">天气   </a> </li>
                    <li><a href="../tabfour/toushu.html">在线投诉</a></li>
                </ul>
                <img src="../../imgs/shouye/j4.png" alt=""/>
            </div>
            <!--在线旅游-->
            <div >
                <ul>
                    <li>  <a href="#">VR</a></li>
                </ul>
                <img src="../../imgs/shouye/j5.png" alt=""/>
            </div>
        </div>
    </nav>
</header>
<!--  /头部区域 -->
<!--banner图片-->
<section class="banner">
    <img src="../../imgs/3tuijian/jingpinbanner.png" alt=""/>

</section>



<!--吉首概况-->
<section class="tuijian container clearfix">

    <div class="logo">
        <img src="../../imgs/3tuijian/tuijian0.png" alt=""/>
    </div>

    <span class="biude">路线推荐</span>
  <!--一日游-->
    <div class="oneDay">
        <div class="day-Box">
            <div class="left">安寨大桥 &nbsp+ <br/>苗寨 &nbsp+ <br/>忠义堂 </div>
            <div class="mid">
                <img src="../../imgs/3tuijian/tuijian1.png" alt=""/>
            </div>
            <div class="right">
                <img src="../../imgs/3tuijian/tuijian2.png" alt=""/>
                <img class="two" src="../../imgs/3tuijian/tuijian3.png" alt=""/>
            </div>
        </div>
        <div class=" day-News">
            <h4>吉首三日游</h4>
            <span>景点：安寨大桥，苗寨，忠义堂</span>
            <p>【乾州古城】（门票108元/人），乾州古城风景如画，四周山峦叠嶂，山色翠微，中间十里盆地，万溶江河穿城而过，古城内那纵横交错的青石街巷，古香古色的民居，参观气势恢宏的【拱极门】、明清古建筑群——</p>
            <a href="luxian.html">查看详情</a>
        </div>
    </div>

    <!--二日游-->
    <div class="twoDay">
        <div class="two-Box">
            <div class="two-left">安寨大桥 &nbsp+ <br/>苗寨 &nbsp+ <br/>忠义堂 </div>
            <div class="two-right">
                <img src="../../imgs/3tuijian/tuijian4.png" alt=""/>
            </div>
        </div>
        <div class="two-News">
            <h4>吉首三日游</h4>
            <span>景点：安寨大桥，苗寨，忠义堂</span>
            <p>【乾州古城】（门票108元/人），乾州古城风景如画，四周山峦叠嶂，山色翠微，中间十里盆地，万溶江河穿城而过，古城内那纵横交错的青石街巷，古香古色的民居，参观气势恢宏的【拱极门】、明清古建筑群——</p>
            <a href="luxian.html">查看详情</a>
        </div>
    </div>



    <!--循环一次、-->
    <!--一日游-->
    <div class="oneDay">
        <div class="day-Box">
            <div class="left">安寨大桥 &nbsp+ <br/>苗寨 &nbsp+ <br/>忠义堂 </div>
            <div class="mid">
                <img src="../../imgs/3tuijian/tuijian5.png" alt=""/>
            </div>
            <div class="right">
                <img src="../../imgs/3tuijian/tuijian6.png" alt=""/>
                <img class="two" src="../../imgs/3tuijian/tuijian7.png" alt=""/>
            </div>
        </div>
        <div class=" day-News">
            <h4>吉首三日游</h4>
            <span>景点：安寨大桥，苗寨，忠义堂</span>
            <p>【乾州古城】（门票108元/人），乾州古城风景如画，四周山峦叠嶂，山色翠微，中间十里盆地，万溶江河穿城而过，古城内那纵横交错的青石街巷，古香古色的民居，参观气势恢宏的【拱极门】、明清古建筑群——</p>
            <a href="luxian.html">查看详情</a>
        </div>
    </div>

    <!--二日游-->
    <div class="twoDay">
        <div class="two-Box">
            <div class="two-left">安寨大桥 &nbsp+ <br/>苗寨 &nbsp+ <br/>忠义堂 </div>
            <div class="two-right">
                <img src="../../imgs/3tuijian/tuijian8.png" alt=""/>
            </div>
        </div>
        <div class="two-News">
            <h4>吉首三日游</h4>
            <span>景点：安寨大桥，苗寨，忠义堂</span>
            <p>【乾州古城】（门票108元/人），乾州古城风景如画，四周山峦叠嶂，山色翠微，中间十里盆地，万溶江河穿城而过，古城内那纵横交错的青石街巷，古香古色的民居，参观气势恢宏的【拱极门】、明清古建筑群——</p>
            <a href="luxian.html">查看详情</a>
        </div>
    </div>








    <!--加载更多-->
    <div class="jiamo">
        <a href=""> 加载更多</a>
    </div>


    <!--风土人情-->

</section>
<!--加载更多-->




<!-- 结尾 -->
<footer class="jieshu">
    <div class="container">
        <div class="logo"><a href="../../index.html"><img src="../../imgs/shouye/logotop.png" alt=""></a></div>
        <div class="footer_tel">
            <ul class="tel">
                <h4>联系我们</h4>
                <li>邮箱：88888888@163.com</li>
                <li>咨询电话：888888888</li>
                <li>版权所有</li>
            </ul>
            <ul class="qq">
                <li>QQ：88888888</li>
                <li><a href="www.jishou.com">网址：www.jishou.com</a></li>
                <li>吉首旅游局</li>
            </ul>
        </div>
        <div class="weixin"><a href="#"><img src="../../imgs/shouye/weixin.png" alt=""></a></div>
    </div>
</footer>

</body>
<script src="../../js/main.js"></script>
</html>