<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title> 吉首市旅游官网 完成 </title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" href="../../css/youji.css"/>
    <!--[if lt IE 9]>
    <script src="../../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../../lib/respond/respond.min.js"></script>
    <![endif]-->
    <title></title>
</head>
<body>

<header id="header">

    <nav class="container" id="nav">
        <div class="logo"><a href="../../index.html"><img src="../../imgs/shouye/logotop.png" alt=""/></a></div>
        <div class="nav-tabs">
            <a href="../../index.html">首页</a>
            <span>走进吉首</span>
            <span>畅玩吉首</span>
            <span>旅游服务</span>
            <span>吉首攻略</span>
            <span>在线旅游</span>
            <form  action="/example/html5/demo_form.asp" method="get">
                <input class="search" type="search" name="user_search" placeholder="请输入..." />
                <input class="search-btn" type="submit" value="搜索"/>
            </form>
            <div class="langs"><i>中</i>/<i>En</i></div>
        </div>

        <div class="tab-content" id="boox">
            <!--走进吉首-->
            <div >
                <ul>
                    <li><a href="../tabone/gaikuang.html">吉首概括</a></li>
                    <li><a href="../tabone/fuhao.html">   吉首符号</a></li>
                    <li><a href="../tabone/fengtu.html">  风土人情</a></li>
                    <li><a href="../tabone/guwu.html">    苗族鼓舞</a></li>
                </ul>
                <ul>
                    <li> <a href="../tabone/jieqing.html">节庆活动</a></li>
                    <li> <a href="../tabone/meili.html">  美丽吉首</a></li>
                </ul>
                <img src="../../imgs/shouye/j1.png" alt=""/>
            </div>

            <!--畅玩吉首-->
            <div >
                <ul>
                    <li><a href="../tabtwo/jingqu0.html">景区</a></li>
                    <li><a href="../tabtwo/meishi.html">美食</a></li>
                    <li><a href="../tabtwo/zhushu.html">住宿</a></li>
                    <li><a href="../tabtwo/yule.html">  娱乐</a></li>
                </ul>
                <ul>
                    <li><a href="../tabtwo/techan.html">特产</a></li>
                </ul>
                <img src="../../imgs/shouye/j2.png" alt=""/>
            </div>

            <!--吉首攻略-->
            <div >
                <ul>
                    <li><a href="tuijian.html">精品推荐</a></li>
                    <li> <a href="#@">交通导航</a></li>
                    <li> <a href="youji.html">吉首游记</a></li>
                    <li> <a href="zhixun.html">吉首资讯</a></li>
                </ul>
                <img src="../../imgs/shouye/j3.png" alt=""/>
            </div>
            <!--吉首服务-->
            <div >
                <ul>
                    <li><a href="#"> 咨询电话  </a></li>
                    <li><a href="#"> 投诉电话  </a></li>
                    <li><a href="#"> 火车票    </a></li>
                    <li><a href="#"> 飞机票    </a></li>
                </ul>
                <ul>
                    <li><a href="#">天气   </a> </li>
                    <li><a href="../tabfour/toushu.html">在线投诉</a></li>
                </ul>
                <img src="../../imgs/shouye/j4.png" alt=""/>
            </div>
            <!--在线旅游-->
            <div >
                <ul>
                    <li>  <a href="#">VR</a></li>
                </ul>
                <img src="../../imgs/shouye/j5.png" alt=""/>
            </div>
        </div>
    </nav>

</header>
<!--  /头部区域 -->
<!--banner图片-->
<section class="banner">
    <img src="../../imgs/youji/youjibanner.png" alt=""/>
</section>


<!--游记-->
<section class="youji clearfix container">
    <div class="logo"> <img src="../../imgs/youji/youji0.png" alt=""/></div>

    <div class="left">
        <div class="content">
            <div class="up">
                <div class="icon">
                <div class="icon-1"><img src="../../imgs/youji/touxaign1.png"  alt=""/></div>
                    <span>我爱旅游</span>
                </div>

                <div class="title">
                    <div class="dd">
                        <div class="icon-2"></div>
                        <span>106条评论</span>
                    </div>
                    <div class="dd">
                        <div class="icon-2"></div>
                        <span>19个赞</span>
                    </div>
                    <div class="dd">
                        <div class="icon-2"></div>
                        <span>小明发表于2017.5.18</span>
                    </div>
                </div>
            </div>

            <div class="down">
                <div class="list">
                    <a href="">吉首，我最美的光阴遇到了你（吉首之行)</a>
                    <p>乾州古城风景如画，四周山峦叠障，山色翠微，中间十里盆地，万溶江河穿城而过河畔绿柳依依田野芳草萋萋。古城内那纵横交错的青石街巷，古香古色的民居江南奇居——胡家塘、九福堂令人倍感神圣的文庙，甚称奇美的乾州八景扎工精巧的“乾州春文化”，富有灵气的观音阁，南方长城古遗迹等名胜古迹、自然风光和民俗文化，及古今文化墨客留下的古诗遗咏、文稿书画，都使乾州古韵犹存，令人无限遐想。
                    </p>
                </div>

                <a href=""><img src="../../imgs/youji/youji2.png" alt=""/></a>
            </div>
        </div>

        <div class="content">
            <div class="up">
                <div class="icon">
                    <div class="icon-1"><img src="../../imgs/youji/touxaign2.png"  alt=""/></div>
                    <span>我爱旅游</span>
                </div>

                <div class="title">
                    <div class="dd">
                        <div class="icon-2"></div>
                        <span>106条评论</span>
                    </div>
                    <div class="dd">
                        <div class="icon-2"></div>
                        <span>19个赞</span>
                    </div>
                    <div class="dd">
                        <div class="icon-2"></div>
                        <span>小明发表于2017.5.18</span>
                    </div>
                </div>

            </div>

            <div class="down">
                <div class="list">
                    <a href="">吉首，我最美的光阴遇到了你（吉首之行)</a>
                    <p>乾州古城风景如画，四周山峦叠障，山色翠微，中间十里盆地，万溶江河穿城而过河畔绿柳依依田野芳草萋萋。古城内那纵横交错的青石街巷，古香古色的民居江南奇居——胡家塘、九福堂令人倍感神圣的文庙，甚称奇美的乾州八景扎工精巧的“乾州春文化”，富有灵气的观音阁，南方长城古遗迹等名胜古迹、自然风光和民俗文化，及古今文化墨客留下的古诗遗咏、文稿书画，都使乾州古韵犹存，令人无限遐想。
                    </p>
                </div>

                <a href=""><img src="../../imgs/youji/youji3.png" alt=""/></a>
            </div>
        </div>

        <a class="bill" href="#"><img class="clearfix" src="../../imgs/youji/youji1.png" alt=""/></a>
        <div class="content">
            <div class="up">
                <div class="icon">
                    <div class="icon-1"><img src="../../imgs/youji/touxaign3.png"  alt=""/></div>
                    <span>我爱旅游</span>
                </div>

                <div class="title">
                    <div class="dd">
                        <div class="icon-2"></div>
                        <span>106条评论</span>
                    </div>
                    <div class="dd">
                        <div class="icon-2"></div>
                        <span>19个赞</span>
                    </div>
                    <div class="dd">
                        <div class="icon-2"></div>
                        <span>小明发表于2017.5.18</span>
                    </div>
                </div>

            </div>

            <div class="down">
                <div class="list">
                    <a href="">吉首，我最美的光阴遇到了你（吉首之行)</a>
                    <p>乾州古城风景如画，四周山峦叠障，山色翠微，中间十里盆地，万溶江河穿城而过河畔绿柳依依田野芳草萋萋。古城内那纵横交错的青石街巷，古香古色的民居江南奇居——胡家塘、九福堂令人倍感神圣的文庙，甚称奇美的乾州八景扎工精巧的“乾州春文化”，富有灵气的观音阁，南方长城古遗迹等名胜古迹、自然风光和民俗文化，及古今文化墨客留下的古诗遗咏、文稿书画，都使乾州古韵犹存，令人无限遐想。
                    </p>
                </div>

                <a href=""><img src="../../imgs/youji/youji4.png" alt=""/></a>
            </div>
        </div>

        <div class="content">
            <div class="up">
                <div class="icon">
                    <div class="icon-1"><img src="../../imgs/youji/touxaign4.png"  alt=""/></div>
                    <span>我爱旅游</span>
                </div>

                <div class="title">
                    <div class="dd">
                        <div class="icon-2"></div>
                        <span>106条评论</span>
                    </div>
                    <div class="dd">
                        <div class="icon-2"></div>
                        <span>19个赞</span>
                    </div>
                    <div class="dd">
                        <div class="icon-2"></div>
                        <span>小明发表于2017.5.18</span>
                    </div>
                </div>

            </div>

            <div class="down">
                <div class="list">
                    <a href="">吉首，我最美的光阴遇到了你（吉首之行)</a>
                    <p>乾州古城风景如画，四周山峦叠障，山色翠微，中间十里盆地，万溶江河穿城而过河畔绿柳依依田野芳草萋萋。古城内那纵横交错的青石街巷，古香古色的民居江南奇居——胡家塘、九福堂令人倍感神圣的文庙，甚称奇美的乾州八景扎工精巧的“乾州春文化”，富有灵气的观音阁，南方长城古遗迹等名胜古迹、自然风光和民俗文化，及古今文化墨客留下的古诗遗咏、文稿书画，都使乾州古韵犹存，令人无限遐想。
                    </p>
                </div>

                <a href=""><img src="../../imgs/youji/youji5.png" alt=""/></a>
            </div>
        </div>
        <div class="content">
        <div class="up">
            <div class="icon">
                <div class="icon-1"><img src="../../imgs/youji/touxaign5.png"  alt=""/></div>
                <span>我爱旅游</span>
            </div>

            <div class="title">
                <div class="dd">
                    <div class="icon-2"></div>
                    <span>106条评论</span>
                </div>
                <div class="dd">
                    <div class="icon-2"></div>
                    <span>19个赞</span>
                </div>
                <div class="dd">
                    <div class="icon-2"></div>
                    <span>小明发表于2017.5.18</span>
                </div>
            </div>

        </div>

        <div class="down">
            <div class="list">
                <a href="">吉首，我最美的光阴遇到了你（吉首之行)</a>
                <p>乾州古城风景如画，四周山峦叠障，山色翠微，中间十里盆地，万溶江河穿城而过河畔绿柳依依田野芳草萋萋。古城内那纵横交错的青石街巷，古香古色的民居江南奇居——胡家塘、九福堂令人倍感神圣的文庙，甚称奇美的乾州八景扎工精巧的“乾州春文化”，富有灵气的观音阁，南方长城古遗迹等名胜古迹、自然风光和民俗文化，及古今文化墨客留下的古诗遗咏、文稿书画，都使乾州古韵犹存，令人无限遐想。
                </p>
            </div>
            <a href=""><img src="../../imgs/youji/youji6.png" alt=""/></a>
        </div>
    </div>



    </div>
    <div class="right">
        <a href="youji/writeyouji.html"><img src="../../imgs/youji/0002.png"/></a>
        <img class="imgs" src="../../imgs/youji/0003.png" alt=""/>

        <div class="pinglun">
            <h4>热门评论</h4>

            <div class="lis">
                <img src="../../imgs/youji/0004.png" alt=""/>
                <p>间十里盆地，万溶江河穿城而过河畔绿柳依依田野芳草萋萋。古城内那纵横交错的青石街巷，古香古色的民居江南奇居——胡家塘、九福堂令人倍感神圣的文庙，甚称奇美的乾州八景扎工精巧的“乾州春文化”，富有灵气的观音阁，南方长城古遗迹等名胜古迹、自然风光和民俗文化，及古今文化墨客留下的古诗遗咏</p>
            </div>
        </div>

        <div class="pinglun">
            <h4>热门评论</h4>

            <div class="lis">
                <img src="../../imgs/youji/0004.png" alt=""/>
                <p>间十里盆地，万溶江河穿城而过河畔绿柳依依田野芳草萋萋。古城内那纵横交错的青石街巷，古香古色的民居江南奇居——胡家塘、九福堂令人倍感神圣的文庙，甚称奇美的乾州八景扎工精巧的“乾州春文化”，富有灵气的观音阁，南方长城古遗迹等名胜古迹、自然风光和民俗文化，及古今文化墨客留下的古诗遗咏</p>
            </div>
        </div>

        <div class="pinglun">
            <h4>热门评论</h4>

            <div class="lis">
                <img src="../../imgs/youji/0004.png" alt=""/>
                <p>间十里盆地，万溶江河穿城而过河畔绿柳依依田野芳草萋萋。古城内那纵横交错的青石街巷，古香古色的民居江南奇居——胡家塘、九福堂令人倍感神圣的文庙，甚称奇美的乾州八景扎工精巧的“乾州春文化”，富有灵气的观音阁，南方长城古遗迹等名胜古迹、自然风光和民俗文化，及古今文化墨客留下的古诗遗咏</p>
            </div>
        </div>

    </div>
</section>





<!-- 结尾 -->
<footer class="jieshu  clearfix">
    <div class="container">
        <div class="logo"><a href="../../index.html"><img src="../../imgs/shouye/logotop.png" alt=""></a></div>
        <div class="footer_tel">
            <ul class="tel">
                <h4>联系我们</h4>
                <li>邮箱：88888888@163.com</li>
                <li>咨询电话：888888888</li>
                <li>版权所有</li>
            </ul>
            <ul class="qq">
                <li>QQ：88888888</li>
                <li><a href="www.jishou.com">网址：www.jishou.com</a></li>
                <li>吉首旅游局</li>
            </ul>
        </div>
        <div class="weixin"><a href="#"><img src="../../imgs/shouye/weixin.png" alt=""></a></div>
    </div>
</footer>

</body>
<script src="../../js/main.js"></script>
</html>